<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>aww</string>
	<string>AdviceAnimals</string>
	<string>pics</string>
	<string>fffffffuuuuuuuuuuuu</string>
	<string>gifs</string>
	<string>funny</string>
	<string>classicrage</string>
	<string>treecomics</string>
	<string>WTF</string>
	<string>trees</string>
	<string>mylittlepony</string>
	<string>catpictures</string>
	<string>atheism</string>
	<string>TrollXChromosomes</string>
	<string>lolcats</string>
	<string>aaaaaatheismmmmmmmmmm</string>
	<string>Demotivational</string>
	<string>vertical</string>
	<string>4chan</string>
	<string>cats</string>
	<string>gaming</string>
	<string>TheSimpsons</string>
	<string>skyrim</string>
	<string>TheFacebookDelusion</string>
	<string>Minecraft</string>
	<string>wallpapers</string>
	<string>RedditLaqueristas</string>
	<string>realasians</string>
	<string>TwoXChromosomes</string>
	<string>tattoos</string>
	<string>MapPorn</string>
	<string>HIFW</string>
	<string>pokemon</string>
	<string>creepy</string>
	<string>battlestations</string>
	<string>nostalgia</string>
	<string>food</string>
	<string>spaceporn</string>
	<string>HistoryPorn</string>
	<string>GaymersGoneMild</string>
	<string>wallpaper</string>
	<string>AlbumArtPorn</string>
	<string>FifthWorldPics</string>
	<string>dogpictures</string>
	<string>ragecomics</string>
	<string>PrettyGirls</string>
	<string>corgi</string>
	<string>arresteddevelopment</string>
	<string>EarthPorn</string>
	<string>cigars</string>
	<string>RedditThroughHistory</string>
	<string>alternativeart</string>
	<string>adventuretime</string>
	<string>museum</string>
	<string>futurama</string>
	<string>downtimebananas</string>
	<string>FoodPorn</string>
	<string>RoomPorn</string>
	<string>vinyl</string>
	<string>community</string>
	<string>StarWars</string>
	<string>doodleordie</string>
	<string>gaymers</string>
	<string>starcraft</string>
	<string>harrypotter</string>
	<string>MachinePorn</string>
	<string>gif</string>
	<string>Pareidolia</string>
	<string>doctorwho</string>
	<string>MilitaryPorn</string>
	<string>guns</string>
	<string>motorcycles</string>
	<string>Art</string>
	<string>ImaginaryLandscapes</string>
	<string>SpecArt</string>
	<string>somethingimade</string>
	<string>woahdude</string>
	<string>ImaginaryMonsters</string>
	<string>toosoon</string>
	<string>QuotesPorn</string>
	<string>fffffffuuuuuuuuuuuud</string>
	<string>wow</string>
	<string>breakingbad</string>
	<string>CityPorn</string>
	<string>lookatmydog</string>
	<string>Terraria</string>
	<string>PandR</string>
	<string>tf2</string>
	<string>itookapicture</string>
	<string>IDAP</string>
	<string>zelda</string>
	<string>geek</string>
	<string>secretsanta</string>
	<string>AdviceAtheists</string>
	<string>lgbt</string>
	<string>CFB</string>
	<string>Inglip</string>
	<string>beerporn</string>
	<string>Rabbits</string>
	<string>canada</string>
</array>
</plist>
