<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Animals</string>
		<key>subreddits</key>
		<array>
			<string>aww</string>
			<string>catpictures</string>
			<string>cats</string>
			<string>corgi</string>
			<string>dogpictures</string>
			<string>lolcats</string>
			<string>lookatmydog</string>
			<string>Rabbits</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Animated</string>
		<key>subreddits</key>
		<array>
			<string>gif</string>
			<string>gifs</string>
			<string>HIFW</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Art</string>
		<key>subreddits</key>
		<array>
			<string>alternativeart</string>
			<string>Art</string>
			<string>doodleordie</string>
			<string>IDAP</string>
			<string>ImaginaryMonsters</string>
			<string>museum</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Books</string>
		<key>subreddits</key>
		<array>
			<string>bookporn</string>
			<string>harrypotter</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Comics</string>
		<key>subreddits</key>
		<array>
			<string>classicrage</string>
			<string>fffffffuuuuuuuuuuuu</string>
			<string>Inglip</string>
			<string>ragecomics</string>
			<string>treecomics</string>
			<string>TrollXChromosomes</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Film</string>
		<key>subreddits</key>
		<array>
			<string>MoviePosterPorn</string>
			<string>StarWars</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Food</string>
		<key>subreddits</key>
		<array>
			<string>beerporn</string>
			<string>fffffffuuuuuuuuuuuud</string>
			<string>food</string>
			<string>FoodPorn</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Gaming</string>
		<key>subreddits</key>
		<array>
			<string>gaming</string>
			<string>Minecraft</string>
			<string>pokemon</string>
			<string>Portal</string>
			<string>runescape</string>
			<string>skyrim</string>
			<string>starcraft</string>
			<string>Terraria</string>
			<string>tf2</string>
			<string>wow</string>
			<string>zelda</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Memes</string>
		<key>subreddits</key>
		<array>
			<string>AdviceAnimals</string>
			<string>AdviceAtheists</string>
			<string>Demotivational</string>
			<string>vertical</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Music</string>
		<key>subreddits</key>
		<array>
			<string>AlbumArtPorn</string>
			<string>vinyl</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>People</string>
		<key>subreddits</key>
		<array>
			<string>GaymersGoneMild</string>
			<string>gentlemanboners</string>
			<string>LadyBoners</string>
			<string>malemodels</string>
			<string>PrettyGirls</string>
			<string>realasians</string>
			<string>RedditLaqueristas</string>
			<string>tattoos</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Places</string>
		<key>subreddits</key>
		<array>
			<string>canada</string>
			<string>CityPorn</string>
			<string>EarthPorn</string>
			<string>ImaginaryLandscapes</string>
			<string>MapPorn</string>
			<string>RoomPorn</string>
			<string>spaceporn</string>
			<string>SpecArt</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Potpourri</string>
		<key>subreddits</key>
		<array>
			<string>99reddits</string>
			<string>funny</string>
			<string>HistoryPorn</string>
			<string>itookapicture</string>
			<string>iWallPaper</string>
			<string>nostalgia</string>
			<string>pics</string>
			<string>RedditThroughHistory</string>
			<string>TwoXChromosomes</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Puzzling</string>
		<key>subreddits</key>
		<array>
			<string>atheism</string>
			<string>creepy</string>
			<string>downtimebananas</string>
			<string>FifthWorldPics</string>
			<string>toosoon</string>
			<string>trees</string>
			<string>woahdude</string>
			<string>WTF</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Things</string>
		<key>subreddits</key>
		<array>
			<string>battlestations</string>
			<string>cigars</string>
			<string>guns</string>
			<string>MachinePorn</string>
			<string>MilitaryPorn</string>
			<string>motorcycles</string>
			<string>Pareidolia</string>
			<string>somethingimade</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>TV</string>
		<key>subreddits</key>
		<array>
			<string>adventuretime</string>
			<string>arresteddevelopment</string>
			<string>breakingbad</string>
			<string>community</string>
			<string>doctorwho</string>
			<string>futurama</string>
			<string>gameofthrones</string>
			<string>mylittlepony</string>
			<string>PandR</string>
			<string>TheSimpsons</string>
		</array>
	</dict>
</array>
</plist>
