<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>aww</string>
	<string>AdviceAnimals</string>
	<string>pics</string>
	<string>fffffffuuuuuuuuuuuu</string>
	<string>gifs</string>
	<string>funny</string>
	<string>classicrage</string>
	<string>treecomics</string>
	<string>WTF</string>
	<string>TestingPlatform</string>
</array>
</plist>
